$color-primary-1: #0D56A6;
$color-primary-2: #274F7D;
$color-primary-3: #04356C;
$color-primary-4: #4186D3;
$color-primary-5: #689AD3;

$secondary-a-1: #FFC600;
$secondary-a-2: #BF9F30;
$secondary-a-3: #A68100;
$secondary-a-4: #FFD440;
$secondary-a-5: #FFE073;

$secondary-b-1: #FF5900;
$secondary-b-2: #BF6230;
$secondary-b-3: #A63A00;
$secondary-b-4: #FF8240;
$secondary-b-5: #FFA473;

$base-color: $color-primary-4;

$panel-base-color: adjust-color($base-color, $hue: 0deg, $saturation: 0.542%, $lightness: 7.843%) !default; //#DFE8F6
$panel-header-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 38.347%, $lightness: +63.725%) !default;
$panel-header-background-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 6.402%, $lightness: -4.51%);
$window-base-color: $base-color !default;
$window-header-color: adjust-color($window-base-color, $hue: -2.451deg, $saturation: 38.889%, $lightness: +55.882%) !default;
//$panel-body-background-color:  adjust-color($panel-base-color, $hue: 0deg, $saturation: 38.347%, $lightness: +30%) !default;
$panel-frame-background-color: adjust-color($panel-base-color, $hue: 0deg, $saturation: 38.347%, $lightness: +30%) !default;

$window-base-color: $base-color !default;
$window-body-background-color: adjust-color($window-base-color, $hue: 3.188deg, $saturation: 0.542%, $lightness: +30%) !default;

$font-family: tahoma,arial,verdana,sans-serif !default;
$font-family-2: verdana,tahoma,arial,sans-serif !default;
$button-medium-font-family: $font-family-2 !default;
$button-small-font-family: $font-family-2 !default;
$button-large-font-family: $font-family-2 !default;
$font-size: 15px;
$panel-body-font-size: 15px;
$form-field-height: 26px;
$form-toolbar-field-height: 22px;
$grid-header-line-height: auto;

//$color: adjust-color($base-color,$saturation: -30%, $lightness: -40%);

$supports-gradients: true;
$base-gradient: matte;
//recessed bevel matte glossy
$include-ie:false;
$compile-all:true;

@import 'compass';
@import 'ext4/default/all';

//override defaults
.#{$prefix}panel-default-framed{
	background-color: $frame-base-color;
}